
* { 
  font-family: helvetica;
  text-align: center;
  color: "blue";
}

.navigatorli {
 list-style-type: none;
 display: inline;
 padding: 14px 16px;
}

#navigatorul {
  background-color: #808080;
}

.navigatora {
  color: white;
}

