
* { 
  font-family: helvetica;
  text-align: center;
}

.navigatorli {
 list-style-type: none;
 display: inline;
 padding: 14px 16px;
}

#navigatorul {
  background-color: #808080;
  height: 30px;
}

h1 {
  color: black;
  text-align: center;
}

.navigatora {
  color: white;
  margin: 10px;
}

.bodybox {
  border-style: solid;
  border-color: darkgray;
  width: 50%;
  margin: 5px 20px 5px 20px;
  flat: left;
}

#h1box {
 width:500px;
 height:200px;
 background-image: "vine-glasses.jpg";
}

#infographic {
  width: 300px;
  height: 600px;
}

#picture {
  width: 200px;
  height: 200px;
  float: right;
}
